<h3>
    Buscar Pessoa
</h3>
<div>
    <input type="search" [(ngModel)]="valorBuscarPessoa"
    (keyup.enter)="getPessoaEspecifica()"> 
</div>
<p>
    Pessoa Encontrada : {{ (pessoaEncontrada$ | async)?.nome }}
</p>

<h3>
    Adicionar Pessoa
</h3>
<div>
    <input type="text" [(ngModel)]="insertNome"
    (keyup.enter)="addPessoa()">
</div>


<div *ngIf="pessoas$ | async as pessoas" >
    <span *ngFor="let pessoa of pessoas" (click)="updatePessoa(pessoa)" >
      {{ pessoa.nome }}, 
    </span>

    <h3> Atualizar Nome </h3>
    <input type="text"
    [(ngModel)]="updateNome"
    (keyup.enter)="UpdateNome()">



</div>



  